#page-view-wrapper {
    /* border: 3px solid green; */
    width: 100%;
    min-width: 600px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 94px auto 40px;
    background-color: #1a1a1a;
}

#page-view-header {
    /* border: 3px solid rgb(0, 213, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-header-options-container {
    height: 100%;
    min-height: 100%;
    width: 100%;
    /* border: 3px solid purple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

#page-view-body {
    border: 3px solid rgb(197, 166, 14);
}

#page-view-footer {
    border: 3px solid rgb(24, 170, 175);
}

#save-page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

/* #save-page-container > div {
    margin: 2px;
} */

#page-save-date {
    font-size: 12px;
}

#page-edit-title-input {
    width: 420px;
    height: 62px;
    border: 1px solid #3e3e3e;
    border-radius: 8px;
    padding: 8px;
}

#page-edit-content-input {
    width: 100%;
    height: 100%;
    resize: none;
}

#edit-page-popup-container {
    position: relative;
    background-color: rgb(99, 40, 105);
    width: 400px;
    font-size: 14px;
    top: 40px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-header-options-left {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
}

#page-options-container > i{
    margin-right: 14px;
}

#page-save-button {
    font-size: 12px;
    background-color: green;
    padding: 4px 16px 4px 16px;
    border-radius: 4px;
    margin-bottom: 8px;
}
