#notebookView-wrapper {
    width: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #3e3e3e;
    background-color: #1a1a1a;
}

#notebook-details-wrapper {
    padding: 18px 18px 12px 18px;
    border-bottom: 1px solid #3e3e3e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99px;
}

#notebook-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    height: 32px;
}

#note-book-actions-container > i {
    margin: 6px 0px 6px 12px;
}

#notebook-details-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

#notebook-page-count {
    color: #909090;
}

#notebook-pages-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.dropdown-page {
    height: 100px;
    min-height: 100px;
    padding: 18px 18px 12px 18px;
    border-bottom: 1px solid #3e3e3e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notebook-page-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.notebook-page-card-date {
    color: #909090;
    font-size: 12px;
}

.active-page-link {
    background-color: #262626;
}
