#notebookView-wrapper {
    /* border: 3px solid salmon; */
    width: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #3e3e3e;
    background-color: #1a1a1a;
}

#notebook-details-wrapper {
    /* border: 1px solid rgb(19, 141, 70); */
    padding: 18px 18px 12px 18px;
    border-bottom: 1px solid #3e3e3e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#notebook-options {
    /* border: 1px solid rgb(19, 19, 141); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

#note-book-actions-container > i {
    margin: 6px;
}

#notebook-details-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

#notebook-page-count {
    color: #909090;
}
