* {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000000;
}

.clickable:hover {
    cursor: pointer;
}

.hover-lgrey:hover {
    background-color: #262626;
}

input,
textarea {
    background-color: #262626;
}

.green {
    color: green;
}
