* {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #1b1b1b;
  }
