* {
    /* color: #ffffff; */
    color: #cccccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000000;
}

.clickable:hover {
    cursor: pointer;
}

.hover-lgrey:hover {
    background-color: #262626;
}

input,
textarea {
    background-color: #262626;
}

a {
    text-decoration: none;
}

.green {
    color: green;
}

.red {
    color: #900000;
}

.blue {
    color: #045fbd;
}

.yellow {
    color: goldenrod;
}

.purple {
    color: purple;
}

.icon-button {
    color: #909090;
}

.icon-button:hover {
    /* font-size: 18px; */
    color: #045fbd;
}

/* webkit scrollbar styles are NOT applied in all browsers */

::-webkit-scrollbar {
    background: #3e3e3e;
}

::-webkit-scrollbar-thumb {
    background: #909090;
    /* background: #6e6e6e; */
    /* border-radius: 8px; */
}
