#dashboard-wrapper {
    width: 100%;
    height: 100%;
    /* border: 3px solid purple; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "bookmarks scratchpad"
    "pages scratchpad";
}

#dashboard-bookmarks-wrapper {
    grid-area: bookmarks;
    /* border: 3px solid gold; */
    margin: 24px 12px 12px 24px;
    min-width: 400px;
}

#dashboard-pages-wrapper {
    grid-area: pages;
    /* border: 3px solid rgb(138, 194, 27); */
    margin: 12px 12px 24px 24px;
    min-width: 400px;
}

#dashboard-scratchpad-wrapper {
    grid-area: scratchpad;
    /* border: 3px solid rgb(29, 29, 158); */
    margin: 24px 24px 24px 12px;
    min-width: 400px;
}

.dashboard-comp-wrapper {
    /* border: 3px solid blue; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto;
    overflow: auto;
    background-color: #1a1a1a;
    border: 1px solid #3e3e3e;
    border-radius: 8px;
    padding: 12px;
}

.dashboard-comp-header {
    /* border: 3px solid goldenrod; */
    display: flex;
    align-items: center;
}

.dashboard-comp-header > div {
    margin-left: 12px;
}

.dashboard-comp-page-card-wrapper {
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.dashboard-comp-page-card {
    /* border: 3px solid palevioletred; */
    width: 200px;
    margin: 8px;
    background-color: #262626;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0px 0px 5px 1px #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-comp-page-card > div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard-page-card-date {
    font-size: 12px;
    color: #909090;
}

.no-pages-card > p {
    color: #909090;
    font-size: 12px;
}
