#dashboard-wrapper {
    width: 100%;
    height: 100%;
    border: 3px solid purple;
    display: flex;
}

#dashboard-content-wrapper {
    border: 3px solid green;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "bookmarks scratchpad"
    "pages scratchpad";
}

#dashboard-bookmarks-wrapper {
    grid-area: bookmarks;
    border: 3px solid gold;
    margin: 24px 12px 12px 24px;
    min-width: 400px;
}

#dashboard-pages-wrapper {
    grid-area: pages;
    border: 3px solid rgb(138, 194, 27);
    margin: 12px 12px 24px 24px;
    min-width: 400px;
}

#dashboard-scratchpad-wrapper {
    grid-area: scratchpad;
    border: 3px solid rgb(29, 29, 158);
    margin: 24px 24px 24px 12px;
    min-width: 400px;
}
