/* #notebooks-dropdown-wrapper {
    border: 1px solid rgb(34, 173, 62);
} */

/* #notebooks-dropdown-list {

} */

#create-notebook-button {
    /* border: 1px solid rgb(157, 34, 173); */
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 30px;
}

#create-notebook-button > div {
    margin-left: 6px;
    color: green;
}

.dropdown-notebook {
    /* border: 1px solid green; */
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 4px 4px 30px;
    display: flex;
    align-items: center;
}

.dropdown-notebook > div {
    width: 200px;
    margin-left: 6px;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#notebooks-dropdown-button {
    display: flex;
    align-items: center;
    padding: 10px;
}

#notebooks-dropdown-button > div {
    margin-left: 6px;
}
