/* #notebooks-dropdown-wrapper {
    border: 1px solid rgb(34, 173, 62);
} */

/* #notebooks-dropdown-list {

} */

#create-notebook-button {
    /* border: 1px solid rgb(157, 34, 173); */
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 30px;
}

#create-notebook-button > div {
    margin-left: 6px;
}

.dropdown-notebook {
    /* border: 1px solid green; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 4px 4px 4px 30px;
}

#notebooks-dropdown-button {
    display: flex;
    align-items: center;
    padding: 10px;
}

#notebooks-dropdown-button > div {
    margin-left: 6px;
}
