#create-notebook-button {
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 30px;
}

#create-notebook-button > div {
    margin-left: 6px;
    color: green;
}

.dropdown-notebook {
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 4px 4px 30px;
    display: flex;
    align-items: center;
}

.dropdown-notebook > div {
    width: 200px;
    margin-left: 6px;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#notebooks-dropdown-button {
    display: flex;
    align-items: center;
    padding: 10px;
}

#notebooks-dropdown-button > div {
    margin-left: 6px;
}

.active-notebook-link {
    background-color: #262626;
}
