#splash-page-wrapper {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#splash-info-wrapper {
    margin: 20px;
    min-width: 400px;
    min-height: 600px;
    border: 1px solid green;
}

@media screen and (max-width: 1000px) {
    #splash-page-wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }
}
