#splash-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#splash-info-wrapper {
    background-color: #1a1a1a;
    margin: 20px;
    width: 400px;
    min-width: 400px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #3e3e3e;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    #splash-page-wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }
}
